<?xml version="1.0"?>
<launch>

  <!-- Arguments -->
  <arg name="use_sim_time" default="true"/>
  <arg name="x_pose" default="-0.7"/>
  <arg name="y_pose" default="0.0"/>

  <!-- World file -->
  <arg name="world" default="$(find-pkg-share autlab3)/worlds/turtlebot3_world1.world"/>

  <!-- Gazebo server -->
  <include file="$(find-pkg-share gazebo_ros)/launch/gzserver.launch.py">
    <arg name="world" value="$(var world)"/>
  </include>

  <!-- Gazebo client -->
  <include file="$(find-pkg-share gazebo_ros)/launch/gzclient.launch.py"/>

  <!-- Robot state publisher -->
  <include file="$(find-pkg-share turtlebot3_gazebo)/launch/robot_state_publisher.launch.py">
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
  </include>

  <!-- Spawn TurtleBot3 -->
  <include file="$(find-pkg-share turtlebot3_gazebo)/launch/spawn_turtlebot3.launch.py">
    <arg name="x_pose" value="$(var x_pose)"/>
    <arg name="y_pose" value="$(var y_pose)"/>
  </include>

  <node pkg="gazebo_ros" exec="spawn_entity.py" args="-entity coke_can1 -database coke_can -x 0.0 -y 0.0 -z 0.0"/>
  
</launch>
